<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<body>

<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <img src="http://192.168.1.2:3080/assets/pejelagarto.png">
    </div>
    <div class="footer-contact">
      <p><strong>Ubicación:</strong> C/ de l'Institut, s/n 17411 Vidreres </p>
      <p><strong>Teléfono:</strong> +34 642 58 00 96</p>
      <p><strong>Email:</strong> lacharcadelpejelagarto&#64;gmail.com</p>
    </div>
    <div class="footer-social">
      <i class="fab fa-steam"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </div>
    <div class="footer-legal">
      <p>&copy; 2023 La Charca Del Pejelagarto.</p>
      <p><a href="#">Aviso Legal</a></p>
    </div>
  </div>
</footer>
</body>
</html>
