<body>
<section>
  <div class="container">
    <div class="text">
      <h1>Page Not Found</h1>
      <p>La pagian no funcioan crac asi que te dejo un pequeño poema de ranas</p>
      <p>Asi dice:</p>
      <p>"En el estanque quieto,</p>
      <p>bajo la luna brilla,</p>
      <p>las ranas cantan</p>
      <p>su melodía sencilla.</p>
      <p>Saltan y juegan,</p>
      <p>en la noche se deslizan,</p>
      <p>un coro de verde</p>
      <p>donde los sueños desfilan."</p>
      <ul class="menu">
        <li><a href="#">Go to Homepage</a></li>
      </ul>
    </div>
    <div><img class="image" src="https://omjsblog.files.wordpress.com/2023/07/errorimg.png" alt=""></div>
  </div>
</section>

</body>
