<div class="container">
  <div class="navigation">
    <a routerLink="/Admin">Afegir productes</a>
    <a routerLink="/diagramas">Diagramas</a>
    <a routerLink="/historial">Historial</a>
  </div>

  <h2>Historial de Ventas</h2>

  <table class="product-table">
    <thead>
    <tr>
      <th>IdVenta</th>
      <th>IdProducte</th>
      <th>Nom</th>
      <th>Quantitat</th>
      <th>Preu</th>
      <th>Data</th>
      <th>Descompte</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of historialProductos">
      <td>{{ producto.idproductevenut }}</td>
      <td>{{ producto.idproducte_productevenut }}</td>
      <td>{{ producto.nom_producte_venut }}</td>
      <td>{{ producto.cantitat_producte_venut }}</td>
      <td>{{ producto.preuTotal_producte_venut }}</td>
      <td>{{ producto.data_producte_venut }}</td>
      <td>{{ producto.cantitat_descompte }}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <h2>Historial de Transacciones</h2>
    <table class="product-table">
      <thead>
      <tr>
        <th>Hash TX</th>
        <th>Numero bloc</th>
        <th>Remitent</th>
        <th>Destinatari</th>
        <th>Valor</th>
        <th>Data</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tx of transacciones">
        <td>{{ tx.hash }}</td>
        <td>{{ tx.blockNumber }}</td>
        <td>{{ tx.from }}</td>
        <td>{{ tx.to }}</td>
        <td>{{ tx.valueBnb }}</td>
        <td>{{ tx.timeStamp }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
