
body {
  /*background-image: url("assets/a7c063a5d8c5.jpg");*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.red-S {
  display: flex;
}
.red-S img {
  width: 2em;
  height: 2em;
}
.red-S a {
  text-decoration: none;
  font-family: Arial, serif;
  color: white;
}
.red-S .textoC {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5em;
}

#box-contacte {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  background-color: rgba(7, 7, 7, 0.73);
  color: white;
}

.contact-info {
  width: 80%;
  font-family: Arial, serif;
}
.contact-info #cartaP {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

#consulta {
  font-size: 1.5em;
  font-family: Arial, serif;
  width: 100%;
  height: 10em;
  resize: none;
}
#usuario {
  font-family: Arial, serif;
}
#consultes button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform 0.3s;
}
#consultes button:hover {
  transform: scale(1.1);
}

#consultes button:active {
  transform: scale(1.05);
}

#consultes button:focus {
  outline: none;
}
#consultes{
  padding-bottom: 2em;
}
main {
  height: 100vh;
  width: 100vw;
}
