<body style="background-image: url(http://192.168.1.2:3080/assets/a7c063a5d8c5.jpg)">
<div id="box-contacte">
  <div class="contact-info">
    <h2>Información de Contacto</h2>
    <p>Nombre de la Empresa: La charca del pejelagarto</p>
    <p>Número de Teléfono: +34 642 58 00 96</p>
    <p>Correo Electrónico: lacharcadelpejelagarto&#64;gmail.com</p>
    <p>Localización: C/ de l'Institut, s/n 17411 Vidreres </p>
    <p>Redes Sociales:</p>
    <div class="red-S">
      <div><img src="http://192.168.1.2:3080/assets/instagram_black_logo_icon_147122.png" alt=""></div>
      <div class="textoC"><a href="" target="_blank">Instagram</a></div>
    </div>
    <div class="red-S">
      <div><img src="http://192.168.1.2:3080/assets/steam_icon_135152.png" alt=""></div>
      <div class="textoC"><a href="" target="_blank">Steam</a></div>
    </div>
    <div class="red-S">
      <div><img src="http://192.168.1.2:3080/assets/TWITTER_icon-icons.com_65486.png" alt=""></div>
      <div class="textoC"><a href="" target="_blank">Twitter</a></div>
    </div>
    <div class="red-S">
      <div><img src="http://192.168.1.2:3080/assets/linkedin_black_logo_icon_147114.png" alt=""></div>
      <div class="textoC"><a href="" target="_blank">LinkedIn</a></div>

    </div>
    <div id="cartaP">
      <img src="http://192.168.1.2:3080/assets/images.png" alt="">
    </div>

    <hr>

    <form id="consultes">
      <div id="box-consultes">
        <h2>Consultas</h2>
        <label class="nombre">Nombre: </label>
        <input type="text" name="usuario" id="usuario" value="anonimo" [(ngModel)]="nombre">
        <br>
        Quina valoracio dones a la nostra pagina?<br>
        <ngb-rating [(rate)]="rating" /> {{rating}}
        <br>
        <label class="nombre">Consulta: </label>
        <br>
        <textarea name="consulta" id="consulta" [(ngModel)]="consulta"></textarea>
      </div>
      <div id="g-recaptcha" class="g-recaptcha" data-sitekey="<6LfDYZwpAAAAAMr4dSQfhjusf4ed4LMMdGUBuJl_>"></div>
      <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
      <re-captcha (resolved)="onResolved($event)" siteKey="6LfDYZwpAAAAAMr4dSQfhjusf4ed4LMMdGUBuJl_"></re-captcha>
      <button *ngIf="this.recaptcha!= null" type="submit" class="boton-encendido"(click)="mandarConsulta()">Enviar Consulta</button>
      <button *ngIf="this.recaptcha== null" type="submit" class="boton-apagado" disabled>Enviar Consulta</button>
    </form>
  </div>
</div>
</body>

