<!DOCTYPE html>
<html lang="en">
<body>
<div id="content" style="background-image: url(http://192.168.1.2:3080/assets/fondopaginaweb.jpg); background-repeat: no-repeat; background-position: center; background-size: cover;">
  <aside>
    <div id="filtre">
      <p>Preu maxim</p>
      <div class="slidecontainer">
        <p>0€</p>
        <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
        <p>100€</p>
      </div>
      <div class="popup-background" *ngIf="showPopup">
        <div class="popup-content">
          <h2>Afegint producte</h2>
          <ngb-progressbar class="mb-3" [value]="value"/>
        </div>
      </div>
      <!--
            <div>
              <input type="checkbox" class="check_filtro" id="roba" value="roba" [(ngModel)]="mostrarropa" (change)="">
              <label for="roba">Roba i accesioris</label>
            </div>
            <div>
              <input type="checkbox" class="check_filtro" id="alimentacio" value="alimentacio" [(ngModel)]="mostrarcomida" (change)="">
              <label for="alimentacio">Alimentacio</label>
            </div>
            -->
      <div *ngFor="let filtro of filtroProductoArray">
        <input type="checkbox" class="check_filtro" id="{{filtro.nombre_filtro}}" [checked]="filtro.filtro_encendido" [(ngModel)]="filtro.filtro_encendido" (change)="aplicarFiltro()">
        <label for="{{filtro.nombre_filtro}}">{{filtro.nombre_filtro}}</label>
      </div>
<!--      <div>-->
<!--        <form>-->
<!--          <label for="BNB">BNB .</label>-->
<!--          <input type="radio" id="BNB" name="opcio" (change)="selecionarTipoMoneda('BinanceCoin')"><br>-->
<!--          <label for="Etherium">Etherium .</label>-->
<!--          <input type="radio" id="Etherium" name="opcio" checked (change)="selecionarTipoMoneda('ethereum')"><br>-->
<!--          <label for="Bitcoin">Bitcoin .</label>-->
<!--          <input type="radio" id="Bitcoin" name="opcio" (change)="selecionarTipoMoneda('Bitcoin')"><br>-->
<!--        </form>-->
<!--      </div>-->
    </div>
  </aside>
  <article>
    <div class="titol1"><p class="titol1">PRODUCTE DESTACAT</p></div>
    <div class="prod_dest" *ngIf="urlRandomRana" [style.backgroundImage]="'url(' + urlRandomRana + ')'">
      <p class="prod_dest_name">Jogo Do Manketilla</p>
      <p class="prod_dest_desc">Us presentem Jogo Do Manketilla, la nostra obra maestra, el motiu per el qual vam fundar aquest grup, es un Videojoc Rogue-Like basat en la historia del nostre protagonista, una rana a la que li han robat les seves crispetes, i ha de recuperarles entrenant i derrotant a l'eser sense alma que se les va robar.</p>
      <div class="prod_dest_preu_div">
        <p class="prod_dest_preu">10,99€</p><p class="prod_dest_iva">/iva inclos</p>
      </div>
      <button class="prod_dest_button">COMPRAR</button>
    </div>

    <div class="grup_productes">
      <div  *ngFor="let producto of productosFiltrados" >
        <div class="prod">
          <div class="camiseta">
              <p class="prod_name">{{producto.nombre_producto}}</p>
              <img [src]="producto.imagen_producto" alt="Imagen del producto" style="width: 100%">
              <div *ngIf="producto.cantidad_descuento == 0">
                <p class="descuento">No Hay descuentos</p>
              </div>
              <div *ngIf="producto.cantidad_descuento!= 0">
                <p class="descuento">{{producto.cantidad_descuento}}% De DESCOMPTE!!!</p>
              </div>
            <div class="prod_preu_div">
              <p class="prod_preu">{{producto.precio_producto}}</p><p class="prod_iva">/iva inclos</p>
            </div>
          </div>
          <p class="prod_desc">{{producto.descripcion_producto}}</p>
          <div *ngIf="producto.cantidad <= 0">
            <p class="descuento">No Stok</p>
          </div>
          <div *ngIf="producto.cantidad > 0">
            <p class="descuento">Stock: {{producto.cantidad}}</p>
          </div>
          <p class="descuento">Cantitat:</p>
          <input type="number" min="1" max="100" placeholder="Cantidad" [(ngModel)]="producto.total_compra_producto">
          <div *ngIf="producto.cantidad <= 0">
            <button class="prod_dest_button" disabled>COMPRAR</button>
          </div>
          <div *ngIf="producto.cantidad > 0">
            <button (click)="isLoggedIn ? setProductoCesta(producto.id_producto ,this.storedNom, producto.nombre_producto, producto.total_compra_producto, producto.precio_producto, producto.imagen_producto, producto.cantidad, producto.cantidad_descuento) : errorMsg() " class="prod_dest_button">COMPRAR</button>
          </div>
        </div>

      </div>
    </div>


  </article>
</div>
</body>
</html>
