<!DOCTYPE html>
<html lang="en">
<body>
<header style="background-image: url('http://192.168.1.2:3080/assets/fondo_ranas_corazones.jpg');">
  <img src="http://192.168.1.2:3080/assets/pejelagarto.png">
  <div class="boxTitulo"><h1 class="titulohead"> JOGO DO MANKETILLA </h1></div>
</header>
<menu style="background-image: url('http://192.168.1.2:3080/assets/sage_green_cow_print_aesthetic_pattern_hd_sage_green.jpg');">
  <div *ngIf="isLoggedIn" class="registro">
    <div class="dropdown">
      <button class="dropbtn">{{storedNom}}</button>
      <div class="dropdown-content">
        <button (click)="logsPerfil()" routerLink="usuario" >Usuari</button>
        <button (click)="logsDesloguejar();clearLogInData()" >Desconnectar-se</button>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoggedIn" class="registro">
    <a routerLink="formulari" class="regist">Registra't</a>
  </div>
  <div *ngIf="!isLoggedIn" id="menu">
    <a routerLink="Admin">Admin</a>
    <a routerLink="inici">Inici</a>
    <a routerLink="tienda">Catàleg</a>
    <a routerLink="cesta">Cistella</a>
    <a routerLink="condicions">Condicions</a>
    <a routerLink="contacte">Contacte</a>
  </div>

  <div *ngIf="isLoggedIn" id="menuLog">
    <a routerLink="inici" (click)="logsInici()">Inici</a>
    <a routerLink="tienda" (click)="logstenda()">Catàleg</a>
    <a routerLink="cesta" (click)="logsCesta()">Cistella</a>
    <a routerLink="condicions" (click)="logsCondicions()">Condicions</a>
    <a routerLink="contacte" (click)="logsContacte()">Contacte</a>
  </div>

  <div *ngIf="isLoggedIn && isAdmin" id="menuAdmin">
    <a routerLink="Admin">Admin</a>
    <a routerLink="inici" (click)="logsInici()">Inici</a>
    <a routerLink="tienda" (click)="logstenda()">Catàleg</a>
    <a routerLink="cesta" (click)="logsCesta()">Cistella</a>
    <a routerLink="condicions" (click)="logsCondicions()">Condicions</a>
    <a routerLink="contacte" (click)="logsContacte()">Contacte</a>
  </div>




  <div id="buscador">
    <form action="#" method="get">
      <input class="busqueda" type="text" id="busqueda" name="q">
      <input class="buquedaB" type="submit" value="Buscar">
    </form>
  </div>
</menu>
</body>

</html>
