<!DOCTYPE html>
<html lang="en">
<body>
<div id="container" *ngIf="!isLoggedIn">
  <div id="box-contenido">
    <p>Precio de Binance Coin (BNB) en EUR: {{pricebnb}}€</p>
    <p>Precio de BitCoin (BTC) en EUR: {{pricebit}}€</p>
    <p>Precio total de: {{preuTotal}}€</p>
    <form>
      <label for="moneda">Selecciona la moneda:</label>
      <select id="moneda" name="moneda" [(ngModel)]="selectedCurrency" (ngModelChange)="updatePrecioTotal()">
        <option value="euros">Euros</option>
        <option value="bitcoin">Bitcoin</option>
        <option value="bnb">BNB</option>
      </select>
    </form>
    <p>Precio total de la compra en {{ selectedCurrency | uppercase }}: {{ precioTotalEnMoneda }}</p>


    <p>Por favor, lea y acepte las condiciones de compra antes de continuar.</p>
    <form action="" method="post">
      <label>
        <input type="checkbox" name="aceptar_condiciones" value="1">
        Acepto las condiciones de compra
      </label>
      <br>
      <div *ngIf="stockNoSuperado">
        <input class="boton2" type="button" value="Comprar" (click)="comprar(); logsComprar()">
      </div>
      <div *ngIf="!stockNoSuperado">
        <p style="color: white">Superas la cantidad del Stock en algun producto</p>
        <input class="boton2" type="button" value="Comprar" disabled>
      </div>
    </form>
  </div>
  <br>
  <div id="box-productos">
    <div *ngFor="let arraycarro of productosArrayUsuario">
        <div class="imagen">
          <img [src]="arraycarro.imagen_producto" alt="">
        </div>
        <div class="contenido">
          <p class="descripcion">{{ arraycarro.nom_producte }}</p>
          <p class="cantidad">Cantida producto: {{ arraycarro.cantitat }}</p>
          <p class="precio">{{ arraycarro.preu_unitat }}</p>
          <button class="boton" (click)="sacarDeLaCesta(arraycarro.nom_producte)">Quitar producto</button>
        </div>
    </div>
  </div>
<!--  @for (alert of alerts; track alert) {-->
<!--  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>-->
<!--  }-->
</div>
<div id="containerError" *ngIf="!isLoggedIn">
  <div id="error">
    <p>Has d'iniciar sessio per veure la teva cesta!</p>
    <img ngSrc="http://192.168.1.2:3080/assets/rana-confundida.png" height="300" width="346">
  </div>
</div>
</body>
</html>
