
body {
  background-color: #65b036;
}
.condicions {
  width: 100%;
  padding: 2%;
  font-family: Arial, sans-serif;
  background-color: #498027;
  color: #fff;
  margin: 0 auto;
  max-width: 800px;

}

.condicions h1 {
  font-size: 1.5em;
  margin: 1em 0;
  color: #FFD700;
}

.condicions p {
  font-size: 1em;
  line-height: 1.5;
  margin: 1em 0;
}
.timepicker{
  margin: 100px;
}
