<!DOCTYPE html>
<html lang="en">

<body>
<div>
</div>
<ngb-timepicker [(ngModel)]="time" class="timepicker"/>

<div class="condicions">
  <h1> Informacio General</h1>
  <p>Este sitio web es operado por La Charca del pejelagarto.<br><br>En todo el sitio, los términos “nosotros”, “nos” y “nuestro” se refieren a La Charca del pejelagarto con nombre comercial ofrece este sitio web, incluyendo toda la información, herramientas y servicios disponibles para ti en este sitio, el usuario, está condicionado a la aceptación de todos los términos, condiciones, políticas y notificaciones aquí establecidos.<br><br>
    Al visitar nuestro sitio y/o comprar algo de nosotros, participas en nuestro “Servicio” y aceptas los siguientes términos y condiciones (“Términos de Servicio”, “Términos”), incluidos todos los términos y condiciones adicionales y las políticas a las que se hace referencia en el presente documento y/o disponible a través de hipervínculos. Estas Condiciones de Servicio se aplican a todos los usuarios del sitio, incluyendo sin limitación a usuarios que sean navegadores, proveedores, clientes, comerciantes, y/o colaboradores de contenido.<br><br>
    Por favor, lee estos Términos de Servicio cuidadosamente antes de acceder o utilizar nuestro sitio web. Al acceder o utilizar cualquier parte del sitio, estás aceptando los Términos de Servicio. Si no estás de acuerdo con todos los términos y condiciones de este acuerdo, entonces no deberías acceder a la página web o usar cualquiera de los servicios. Si las Términos de Servicio son considerados una oferta, la aceptación está expresamente limitada a estos Términos de Servicio.
    Cualquier función nueva o herramienta que se añadan a la tienda actual, también estarán sujetas a los Términos de Servicio. Puedes revisar la versión actualizada de los Términos de Servicio, en cualquier momento en esta página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los Términos de Servicio mediante la publicación de actualizaciones y/o cambios en nuestro sitio web. Es tu responsabilidad chequear esta página periódicamente para verificar cambios. Tu uso continuo o el acceso al sitio web después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.
  </p>
  <h1>Sección 1 – Condiciones generales</h1>
  <p>Nos reservamos el derecho de rechazar la prestación de servicio a cualquier persona, por cualquier motivo y en cualquier momento. <br> <br>
    Entiendes que tu contenido (sin incluir la información de tu tarjeta de crédito), puede ser transferida sin encriptar e involucrar (a) transmisiones a través de varias redes; y (b) cambios para ajustarse o adaptarse a los requisitos técnicos de conexión de redes o dispositivos. La información de tarjetas de crédito está siempre encriptada durante la transferencia a través de las redes.
    Estás de acuerdo con no reproducir, duplicar, copiar, vender, revender o explotar cualquier parte del Servicio, uso del Servicio, o acceso al Servicio o cualquier contacto en el sitio web a través del cual se presta el servicio, sin el expreso permiso por escrito de nuestra parte.
    Los títulos utilizados en este acuerdo se incluyen solo por conveniencia y no limita o afecta a estos Términos.
  </p>
  <h1>Sección 2 – Modificaciones al servicio y precios</h1>
  <p>Los precios de nuestros productos están sujetos a cambio sin aviso.
    Nos reservamos el derecho de modificar o discontinuar el Servicio (o cualquier parte del contenido) en cualquier momento sin aviso previo.
    No seremos responsables ante ti o alguna tercera parte por cualquier modificación, cambio de precio, suspensión o discontinuidad del Servicio.
  </p>
  <h1>Sección 3 – Productos o servicios</h1>

  <p>Ciertos productos o servicios pueden estar disponibles exclusivamente en línea a través del sitio web. Estos productos o servicios pueden tener cantidades limitadas y estar sujetas a devolución o cambio de acuerdo a nuestra política de devolución solamente.
    Hemos hecho el esfuerzo de mostrar los colores y las imágenes de nuestros productos, en la tienda, con la mayor precisión de colores posible. <br><br>No podemos garantizar que el monitor de tu computadora muestre los colores de manera exacta.
    Todos los productos son sujetos a disponibilidad. Las imágenes de los banners son ilustrativas. Estos legales cubren todas las publicaciones hechas en todos los medios.
    Todas las promociones no son acumulable con otras promociones. Aplican hasta agotar existencias y están restringidas a una por persona.<br><br>
    El uso de cupones es personal, solo un cupón por usuario. Cupón por orden. Cada cupón puede tener restricciones particulares que serán comunicadas en el banner.
    Nos reservamos el derecho, pero no estamos obligados, para limitar las ventas de nuestros productos o servicios a cualquier persona, región geográfica o jurisdicción. Podemos ejercer este derecho basados en cada caso. Nos reservamos el derecho de limitar las cantidades de los productos o servicios que ofrecemos. Todas las descripciones de productos o precios de los productos están sujetos a cambios en cualquier momento sin previo aviso, a nuestra sola discreción. Nos reservamos el derecho de discontinuar cualquier producto en cualquier momento. Cualquier oferta de producto o servicio hecho en este sitio es nulo donde esté prohibido.<br><br>
    No garantizamos que la calidad de los productos, servicios, información u otro material comprado u obtenido por ti cumpla con tus expectativas, o que cualquier error en el Servicio será corregido.
    La Charca del pejelagarto se compromete a proporcionar los mejores productos que cumpla con nuestros estándares de aseo de la moda, así como cumplir con la más alta seguridad de la salud y los requisitos reglamentarios aplicables relacionados. En el caso de que alguno de nuestros productos no cumpla con los más altos estándares, no nos hacemos responsables de los daños resultantes de la falta de uso o defecto de los productos, y se retirará el producto de nuestro mercado de inmediato.
  </p>

  <h1>Sección 4 – Política de devoluciones</h1>
  <p>Disponemos de un plazo para devoluciones de  a partir de la fecha en que la paquetería entregó tu pedido en el domicilio indicado al realizar la compra. Debes notificar acerca de la devolución antes de que se cumplan los  a través de alguno de nuestros canales de atención:
    – Solicitar la devolución dentro del plazo de devolución por correo electrónico. – Solicitar la devolución de un objeto físico si este no ha sido abierto de su embalaje original.
  </p>

  <h1>Condiciones</h1>

  <p>Disponemos de un plazo para devoluciones de  a partir de la fecha en que la paquetería entregó tu pedido en el domicilio indicado al realizar la compra. Debes notificar acerca de la devolución antes de que se cumplan los  a través de alguno de nuestros canales de atención:
    – Solicitar la devolución dentro del plazo de devolución por correo electrónico. – Solicitar la devolución de un objeto físico si este no ha sido abierto de su embalaje original.
  </p>

  <h1>Procedimiento</h1>
  <p>1. Devolución del dinero (solo aplica para casos de garantía y ley de retracto): – A través de transferencia (cuenta de ahorros, cuenta corriente, ahorro a la mano): se realiza aproximadamente entre 3-5 días hábiles. (Si hay algun error en la transacción contacte con su banco). <br> <br>
    2. Cambio del producto : –Ofrecemos un cambio de producto a uno de precio similar si cumple con los detalles de devolucion mencionados anteriormente. – Cupón para realizar una nueva compra (Este cupón tiene validez por seis meses a partir de la fecha de creación).</p>

  <h1> Condiciones del Producto</h1>
  <p>Las condiciones en las que deberá estar el producto físico serán las siguientes: El producto deberá de estar en el embalaje original i sin ningún desperfecto al producto, caja , o embalaje. El producto digital solo requerirá que se cumplan las siguentes condiciones: El producto no puede haber sido usado mas de 2 horas en un plazo de 14 dias..</p>

  <h1>Productos que aplican</h1>
  <p>1- Jogo do Manquetilla. <br>2- Vinos do peixelagarto</p>

  <h1>Plazo de respuesta</h1>
  <p>Reembolso del dinero: Dependiendo del medio de pago que hayas utilizado para tu compra, el reembolso se hará a través de una transferencia electrónica o a tu tarjeta de crédito.<br> Los cambios se despacharán aproximadamente en 3-5 días hábiles después de recibido el producto en la bodega y aplicarán los mismos tiempos de una entrega regular.</p>
  <h1>Costos de envío</h1>
  <p>El Usuario podrá devolver sin ningún costo, cualquier producto que presente defectos de fábrica. <br>
    Los costos de transporte y los demás que conlleve una devolución por motivos diferentes a defectos de fábrica serán cubiertos por el cliente.</p>
</div>
</body>
</html>
