<html>
<body>

<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form (ngSubmit)="iniciarEnMetamask()">
      <h1>Inicia la sessió</h1>
      <input id="loginEmail" type="email" placeholder="Correu electrònic" />
      <input id="loginContrasenya" type="password" placeholder="Contrasenya" />
      <button type="submit">Inicia sessió</button>
      <a routerLink="/contrasenya" ngbPopover="Aqui t'enviarem un correu per restaurar la teva contrasenya" triggers="mouseenter:mouseleave" popoverTitle="Restaurar contrasenya">Has oblidat la contrasenya?</a>
    </form>

  </div>
  <div class="overlay-panel overlay-right">
    <h1>Benvingut!</h1>
    <p>Introdueix la informació necessària per crear un compte!</p>
    <a id="BotoR" routerLink="/registre">Registre</a>

  </div>
</div>
</body>
</html>
